.signin{
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;

}

.signin>form{
    display: grid;
    flex-direction: column;
}
.signin>form>input{
    margin: 8px 0;
    border: 1px solid #ccc;
    width: 100%;
    height: 2.5rem;
    padding:0 15px;
    box-shadow: 0px 0px 8px #ddd;
    display: flex;
    align-items: center;
}

.signin__link:hover{
    text-decoration: underline;
}

.button-signin {
    background-color: royalblue;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: large;
    align-self: center;
    border-radius: 4px;
  }

